<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <!--插入操作-->
    <insert id="save" parameterType="user">
        insert into user
        values (#{id}, #{name}, #{password}, #{address}, #{phone})
    </insert>
    <!--修改操作-->
    <update id="update" parameterType="com.bingo.learn.domain.User">
        update user set name=#{name},password =#{password},address=#{address} where id = #{id}
    </update>
    <!--删除操作-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>
    <!--查询操作，mybatis会根据指定的实体类型，通过反射得到该类对象将查询结果封装成实体类。-->
    <select id="findAll" resultType="com.bingo.learn.domain.User">
        select * from user
    </select>
    <!--根据id进行查询-->
    <select id="findById" resultType="user" parameterType="int">
        select * from user where id = #{id}
    </select>
    <select id="findByName" parameterType="String" resultType="com.bingo.learn.domain.User">
        select * from user where username like #{name}
--         select * from user where username like '%${value}%'
    </select>

</mapper>